In [1]:
import pandas as pd

# Working with JSON

# reading json from local machine

In [7]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

# reading json from url

In [8]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-22,1721606402,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-22,1721606402,0.0438
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-22,1721606402,0.8460
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-22,1721606402,1.1000
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-22,1721606402,4.6400
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-22,1721606402,1.3100
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-22,1721606402,2.9900
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-22,1721606402,0.2190
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-22,1721606402,0.3050
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-07-22,1721606402,0.1640

# Working with SQL

In [9]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB 1.4 MB/s eta 0:00:09
     ---------------------------------------- 0.1/11.9 MB 1.2 MB/s eta 0:00:10
      --------------------------------------- 0.2/11.9 MB 1.2 MB/s eta 0:00:10
      --------------------------------------- 0.2/11.9 MB 1.4 MB/s eta 0:00:09
     - -------------------------------------- 0.3/11.9 MB 1.4 MB/s eta 0:00:09
     - -------------------------------------- 0.4/11.9 MB 1.5 MB/s eta 0:00:08
     - -------------------------------------- 0.5/11.9 MB 1.6 MB/s eta 0:00:08
     - -------------------------------------- 0.6/11.9 MB 1.7 MB/s eta 0:00:07
     -- ------------------------------------- 0.7/11.9 MB 1.7 MB/s eta 0:00:07
     -- ------------------------------------- 0.8/11.9 MB 1.8 MB/s eta 0:00:07
     -- ------------------------------------- 0.8/11.9 MB 1.8 MB/s eta 0:00:07
     --- ------------------------------------ 1.0/11.9 MB 1.9 MB/s eta 0:00:06
     --- ------------------------------------ 1.1/11.9 MB 1.9 MB/s eta 0:00:06
     ---- ----------------------------------- 1.2/11.9 MB 2.0 MB/s eta 0:00:06
     ---- ----------------------------------- 1.3/11.9 MB 2.1 MB/s eta 0:00:06
     ---- ----------------------------------- 1.4/11.9 MB 2.1 MB/s eta 0:00:05
     ----- ---------------------------------- 1.6/11.9 MB 2.1 MB/s eta 0:00:05
     ----- ---------------------------------- 1.7/11.9 MB 2.2 MB/s eta 0:00:05
     ------ --------------------------------- 1.8/11.9 MB 2.2 MB/s eta 0:00:05
     ------ --------------------------------- 2.0/11.9 MB 2.3 MB/s eta 0:00:05
     ------- -------------------------------- 2.1/11.9 MB 2.3 MB/s eta 0:00:05
     ------- -------------------------------- 2.3/11.9 MB 2.4 MB/s eta 0:00:05
     -------- ------------------------------- 2.4/11.9 MB 2.4 MB/s eta 0:00:04
     -------- ------------------------------- 2.5/11.9 MB 2.5 MB/s eta 0:00:04
     --------- ------------------------------ 2.7/11.9 MB 2.5 MB/s eta 0:00:04
     --------- ------------------------------ 2.9/11.9 MB 2.6 MB/s eta 0:00:04
     ---------- ----------------------------- 3.1/11.9 MB 2.6 MB/s eta 0:00:04
     ---------- ----------------------------- 3.2/11.9 MB 2.7 MB/s eta 0:00:04
     ----------- ---------------------------- 3.4/11.9 MB 2.7 MB/s eta 0:00:04
     ------------ --------------------------- 3.7/11.9 MB 2.8 MB/s eta 0:00:03
     ------------ --------------------------- 3.8/11.9 MB 2.8 MB/s eta 0:00:03
     ------------- -------------------------- 4.1/11.9 MB 2.9 MB/s eta 0:00:03
     -------------- ------------------------- 4.4/11.9 MB 3.0 MB/s eta 0:00:03
     --------------- ------------------------ 4.5/11.9 MB 3.0 MB/s eta 0:00:03
     --------------- ------------------------ 4.7/11.9 MB 3.0 MB/s eta 0:00:03
     ---------------- ----------------------- 4.9/11.9 MB 3.0 MB/s eta 0:00:03
     ----------------- ---------------------- 5.2/11.9 MB 3.1 MB/s eta 0:00:03
     ----------------- ---------------------- 5.3/11.9 MB 3.1 MB/s eta 0:00:03
     ------------------- -------------------- 5.6/11.9 MB 3.2 MB/s eta 0:00:02
     ------------------- -------------------- 5.8/11.9 MB 3.3 MB/s eta 0:00:02
     -------------------- ------------------- 6.2/11.9 MB 3.4 MB/s eta 0:00:02
     --------------------- ------------------ 6.5/11.9 MB 3.4 MB/s eta 0:00:02
     ---------------------- ----------------- 6.7/11.9 MB 3.5 MB/s eta 0:00:02
     ----------------------- ---------------- 7.0/11.9 MB 3.6 MB/s eta 0:00:02
     ------------------------ --------------- 7.2/11.9 MB 3.6 MB/s eta 0:00:02
     ------------------------ --------------- 7.3/11.9 MB 3.6 MB/s eta 0:00:02
     ------------------------- -------------- 7.5/11.9 MB 3.6 MB/s eta 0:00:02
     --------------------------- ------------ 8.1/11.9 MB 3.8 MB/s eta 0:00:01
     ---------------------------- ----------- 8.4/11.9 MB 3.9 MB/s eta 0:00:01
     ----------------------------- ---------- 8.7/11.9 MB 3.9 MB/s eta 0:00:01
     ------------------------------ --------- 8.9/11.9 MB 4.0 MB/s eta 0:00:01
     ------------------------------- -------- 9.2/11.9 MB 4.0 MB/s eta 0:00:01
     ------------------------------- -------- 9.4/11.9 MB 4.0 MB/s eta 0:00:01
     -------------------------------- ------- 9.7/11.9 MB 4.1 MB/s eta 0:00:01
     --------------------------------- ------ 10.0/11.9 MB 4.1 MB/s eta 0:00:01
     ---------------------------------- ----- 10.3/11.9 MB 4.2 MB/s eta 0:00:01
     ----------------------------------- ---- 10.6/11.9 MB 4.5 MB/s eta 0:00:01
     ------------------------------------ --- 10.9/11.9 MB 4.7 MB/s eta 0:00:01
     ------------------------------------- -- 11.1/11.9 MB 4.8 MB/s eta 0:00:01
     -------------------------------------- - 11.4/11.9 MB 5.0 MB/s eta 0:00:01
     ---------------------------------------  11.7/11.9 MB 5.1 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 5.2 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 5.1 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (pyproject.toml): started
  Building wheel for mysql.connector (pyproject.toml): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247959 sha256=9441cbebc3a1f0d3e7c0af426f2ad0bdf5e850060496d28e501db5e691437659
  Stored in directory: c:\users\write\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [10]:
import mysql.connector

In [12]:
conn = mysql.connector.connect(host='localhost', user='root', password='', database='world')

In [21]:
pd.read_sql_query("SELECT * FROM CITY WHERE CountryCode LIKE 'IND'", conn)

C:\Users\write\AppData\Local\Temp\ipykernel_17856\1365825075.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM CITY WHERE CountryCode LIKE 'IND'", conn)

       ID                Name CountryCode        District  Population
0    1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1    1025               Delhi         IND           Delhi     7206704
2    1026  Calcutta [Kolkata]         IND    West Bengali     4399819
3    1027    Chennai (Madras)         IND      Tamil Nadu     3841396
4    1028           Hyderabad         IND  Andhra Pradesh     2964638
..    ...                 ...         ...             ...         ...
336  1360        Ambala Sadar         IND         Haryana       90712
337  1361          Baidyabati         IND    West Bengali       90601
338  1362               Morvi         IND         Gujarat       90357
339  1363             Raigarh         IND     Chhatisgarh       89166
340  1364            Vejalpur         IND         Gujarat       89053

[341 rows x 5 columns]